.success-container {
    max-width: 600px;
    margin: 3rem auto;
    text-align: center;
  }
  
  .success-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .success-container p {
    margin-bottom: 2rem;
  }
  
  .success-getstarted-btn {
    display: inline-block;
  }
  